<h1>Log In Below:</h1>

<form method="post" action="/sessions">
    <ul>
        <li>
            <label for="email">Email:</label>
            <input  type="text" name="email">
        </li><br/>

        <li>
            <label for="password">Password:</label>
            <input  type="text" name="password">
        </li>
        
    </ul>
    <input type="submit" id="Log In" value="Log In">

