<h1>Log In Below:</h1>
<form action="/sessions" method="POST">
<label for="email">Your Email: </label>
  <input type="email" name="email"><br>
<label for="password">Your Password: </label>
  <input type="password" name="password"><br>
  <input type="submit" name="Log In">
</form>

