<h1>Sign up below:</h1>

<form action='/registrations' method="POST">
  <label>Name: </label><input type="text" name="name">
  <br/><br/>
  <label>E-mail: </label><input type="text" name="email">
  <br/>  <br/>
  <label>Password: </label><input type="password" name="password">
  <br/><br/>
  <input type="submit" value="Sign Up">
</form>