<h1>Sign Up Below:</h1>

<form action="/registrations" method="POST">
  <p>Name: <input name="name" type="text" id="name"></p>
  
  <p>Email: <input name="email" type="text" id="email"></p>
  
  <p>Password: <input name="password" type="text" id="text"></p>
  
  <input type="submit" id="submit" value="Sign Up">
</form>

