<h1>Sign Up Below:</h1>

<form method="post" action="/registrations">
    <ul>

        <li>
            <label for="name">Name:</label>
            <input  type="text" name="name">
        </li><br/>

        <li>
            <label for="email">Email:</label>
            <input  type="text" name="email">
        </li><br/>

        <li>
            <label for="password">Password:</label>
            <input  type="text" name="password">
        </li>
        
    </ul>
    <input type="submit" id="Sign up" value="Sign Up">
</form>


