<h1>Sign Up Below:</h1>


<form action="/registrations" method="post">
  <label>Email</label><input type="text" name="email"/>
  <label>name</label><input type="text" name="name"/>
  <label>password</label><input type="text" name="password"/>
  <button type="submit" name="submit">Sign Up</button>
</form>
