<h1>Sign Up Below:</h1>

<form method="POST" action="/registrations">

    <input type="text" name="name" value="name">
    <input type="text" name="email" value= "email">
    <input type="text" name="password" value="password">

    <input type="submit" value="Sign Up">

</form>


