<h1>Sign Up Below:</h1>
<form action="/registrations" method="POST">
<label for="name">Your Name: </label>
  <input type="text" name="name" placeholder="Enter Name"><br>
<label for="email">Your Email: </label>
  <input type="email" name="email" placeholder="Enter Email"><br>
<label for="password">Your Password: </label>
  <input type="password" name="password" placeholder="Enter Password"><br>
  <input type="submit" value="Sign Up">
</form>